**DS 301: Applied Data Modeling and Predictive Analysis**

# Lab 07 – Decision Trees

**Read the data**

In [1]:
import os
import pandas as pd
#data_path = os.path.join("datasets", "divorce.csv")
df = pd.read_csv("divorce.csv")
df.head(10)

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1
5,0,0,1,0,0,2,0,0,0,1,...,2,2,1,2,1,1,1,2,0,1
6,3,3,3,2,1,3,4,3,2,2,...,3,2,3,2,3,3,2,2,2,1
7,2,1,2,2,2,1,0,3,3,2,...,0,1,2,2,2,1,1,1,0,1
8,2,2,1,0,0,4,1,3,3,3,...,1,1,1,1,1,1,1,1,1,1
9,1,1,1,1,1,2,0,2,2,2,...,2,0,2,2,2,2,4,3,3,1

In [2]:
df.columns

Index(['Atr1', 'Atr2', 'Atr3', 'Atr4', 'Atr5', 'Atr6', 'Atr7', 'Atr8', 'Atr9',
       'Atr10', 'Atr11', 'Atr12', 'Atr13', 'Atr14', 'Atr15', 'Atr16', 'Atr17',
       'Atr18', 'Atr19', 'Atr20', 'Atr21', 'Atr22', 'Atr23', 'Atr24', 'Atr25',
       'Atr26', 'Atr27', 'Atr28', 'Atr29', 'Atr30', 'Atr31', 'Atr32', 'Atr33',
       'Atr34', 'Atr35', 'Atr36', 'Atr37', 'Atr38', 'Atr39', 'Atr40', 'Atr41',
       'Atr42', 'Atr43', 'Atr44', 'Atr45', 'Atr46', 'Atr47', 'Atr48', 'Atr49',
       'Atr50', 'Atr51', 'Atr52', 'Atr53', 'Atr54', 'Class'],
      dtype='object')

**Tasks 1:** Randomly split the dataset into train_X, train_Y, test_X, and test_Y with 80% train and 20% test. [10 points]

In [3]:
# TODO
from sklearn.model_selection import train_test_split

X = df.loc[:, df.columns != 'Class']
y = df['Class']

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=23)

**Task 2:** Train a DecisionTreeClassifier based on train_X and train_Y. Report the performance on test data. [10 points]

In [4]:
from sklearn import tree
from sklearn import metrics

# TODO
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train, y_train)

print("%0.3f" % clf.score(x_train, y_train))

1.000

**Task 3:** Set the max_depth to 3. Retrain the model and report the performance on test data. Please briefly explain why performances change. [10 points]

In [5]:
from sklearn import tree
from sklearn import metrics

# TODO
clf = tree.DecisionTreeClassifier(max_depth = 3)
clf = clf.fit(x_train, y_train)

print("%0.3f" % clf.score(x_train, y_train))

# max_depth allows the tree to go deeper. The higher the max_depth, then the more complex model it will become.
# However, for the case when the performance changes, it is 
# because the model overfits for bigger depth values. The model able to predict all of the train data, however, 
# fails to generalize the finding for new data.

0.993